/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: green;
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
  color: red
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  color: blueviolet;
}

.Product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

/* Apply styles for item1, item2, and item3 */
.Item1,
.Item2,
.Item3 {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.Cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  color: blue;
}

.Cart-item {
  margin-bottom: 10px;
}

.Cart-total {
  font-weight: bold;
}
