/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: green; /* Add the semicolon here */
  padding: 20px;
  color: white;
}

main {
  padding: 20px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.Product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.Cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.Cart-item {
  margin-bottom: 10px;
}

.Cart-total {
  font-weight: bold;
}
